html {
    box-sizing: border-box backgroundimage;
    contain-intrinsic-block-size: (imagesforproject/flow)1000px;
}


#page-title {


    color: rgb(15, 7, 11);
    font-family: fantasy;
    font-size: 40px;
    box-sizing: border-box
}

.game {
    position: absolute;
    bottom: 10mm;
    right: 70px;
    box-sizing: border-box
}

.mom {
    position: absolute;
    bottom: 10mm;
    right: 100px;
    box-sizing: border-box
}

.hi {
    position: absolute;
    bottom: 10mm;
    right: 455px;
    box-sizing: border-box
}

.card {
    border: 2px solid #64060e;
    width: 500px;
    height: 180px;
    padding: 12px;
    margin: 10px;
    color: rgb(171, 3, 112);
    font-family: fantasy;
    background: #ffa3f0;
    box-sizing: border-box;
    position: absolute;
    bottom: 120px;

}


.highlight {
    border: 2px solid rgb(141, 4, 68);
    background-color: rgb(183, 86, 183);
    color: rgb(171, 3, 112);
    font-family: fantasy;
    width: 500px;
    height: 140px;
    padding: 12px;
    margin: 10px;
    box-sizing: border-box;
    top: 10;
}

* {
    box-sizing: border-box;
}


body {
    margin: 0;
}


.container1 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    background: rgb(23, 238, 188);
    height: 100vh;
    gap: 10px;
    box-sizing: border-box;
}


.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50%;
    gap: 10px;
    justify-items: top;
    box-sizing: border-box;
}


.top-item {
    width: 50%;
    height: 50%;
    background: rgb(251, 114, 191);
    text-decoration-color: rgb(100, 3, 5);
    text-decoration-style: fantasy;
    box-sizing: border-box;


}


.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50%;
    gap: 10px;
    justify-items: bottom;
    box-sizing: border-box;
}


.bottom-item {
    width: 50%;
    height: 50%;
    background: rgb(211, 198, 14);
    box-sizing: border-box;
}




.toptenflowers {
    position: absolute;
    bottom: 0mm;
    right: 1100px;
    flex: 50%;
    box-sizing: border-box;
}

body {
    margin: 1000 px;
    background-image: url('imagesforproject/forest.png');
    box-sizing: border-box;
}

indexbackground {
    margin: 1000 px;
    background-image: url('imagesforproject/flow.png');
}

.violets {
    position: absolute;
    bottom: 40mm;
    right: 600px;
    box-sizing: border-box;
}

.rose {
    position: absolute;
    bottom: 20mm;
    right: 600px;
    box-sizing: border-box;
}

.pansies {
    position: absolute;
    bottom: 40mm;
    right: 950px;
    box-sizing: border-box;
}

.nightshade {
    position: absolute;
    bottom: 40mm;
    right: 750px;
    box-sizing: border-box;
}

.lavander {
    position: absolute;
    bottom: 40mm;
    right: 200px;
    box-sizing: border-box;
}

.logo {
    position: absolute;
    bottom: 0mm;
    right: 1100px;
    flex: 50%;
    box-sizing: border-box;
}

.morningglories {
    position: absolute;
    bottom: 90mm;
    right: 455px;
    box-sizing: border-box;
}

.shit {
    position: absolute;
    bottom: 140mm;
    right: 455px;
    box-sizing: border-box;
}

.active {
    background: rgb(213, 178, 3);
    font-size: 150%;
    width: 500px;
    height: 100px;
    box-sizing: border-box;
}

.main-container {
    background: rgb(4, 92, 73);
    width: 100vw;
    height: 20vh;
    position: absolute;
    bottom: 0mm;
    box-sizing: border-box;
}

.words {
    color: rgb(255, 250, 250);
    font-size: x-large;
    align-items: center;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
}


.left {
    display: flex;
    height: 100%;
    width: 50%;
    border: 2px solid rgb(141, 3, 40);
    background-color: rgb(255, 3, 129);
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    box-sizing: border-box;

}

.right {
    display: flex;
    height: 100%;
    width: 50%;
    gap: 10px;
    background: #d91e7f;
    border: 2px solid rgb(141, 3, 40);
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    box-sizing: border-box;
}

.questions {
    position: absolute;
    bottom: 110mm;
    right: 450px;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    box-sizing: border-box;
}

.family {
    position: absolute;
    bottom: 90mm;
    right: 70px;
    box-sizing: border-box;
}


.container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    background: rgb(191, 147, 218);
    height: 50vh;
    gap: 10px;
    box-sizing: border-box;
}

a:link {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
    box-sizing: border-box;
}

a:visited {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
    box-sizing: border-box;
}

a:hover {
    color: rgb(101, 0, 49);
    background-color: transparent;
    text-decoration: underline;
    box-sizing: border-box;
}